@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

:root {
  --editor-border-color: rgba(255, 255, 255, 0.25);
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.pane {
  height: 50vh;
  display: flex;
}

.editor-container {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: black;
  transition: all 0.8s;
}

.editor-container.collapsed {
  flex-grow: 0;
}

.editor-container.collapsed .CodeMirror-scroll {
  position: absolute;
  overflow: hidden !important;
}

.expand-collapse-btn {
  margin-left: 0.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.editor-title {
  display: flex;
  justify-content: space-between;
  background-color: hsl(219, 21%, 24%);
  color: white;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border: 1px solid var(--editor-border-color);
}

.code-mirror-wrapper {
  flex-grow: 1;
  overflow: hidden;
  border: 1px solid var(--editor-border-color);
  border-color: transparent var(--editor-border-color)
    var(--editor-border-color) var(--editor-border-color);
}
